
<div >
    
    <h3>Todo {{$mode}}</h3>
    
    <div class="row">&nbsp;</div>
    <div class="row">
    
            <form name="frmtodo" role="form" novalidate>
            <div class="col-sm-12">
                
                    <div class="form-group">
                        <label>Title</label>
                        <input ng-model="todos.title" name="title" class="form-control" type="text" required="" />
                        <span style="color:red" ng-show="frmtodo.title.$dirty && frmtodo.title.$invalid">
                            <span ng-show="frmtodo.title.$error.required">Title is required</span>
                        </span>            
                    </div>
                        
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="" ng-model="todos.description" class="form-control" rows="4" ></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label>Assignee</label>&nbsp;&nbsp; 
                        <select name="assignee" ng-model="todos.assignee" required ng-options="el.name for el in assignees track by el.id" style="width: 200px; height: 30px;" >
                            <option  value="">--Please select--</option>
                        </select>
                        <span style="color:red" ng-show="frmtodo.assignee.$dirty && frmtodo.assignee.$invalid">
                            <span ng-show="frmtodo.assignee.$error.required">Assignee is required</span>
                       </span>
                    </div>
                    
                    <div class="form-group">
                        <label>Start Date</label>
                        <input ng-model="todos.startDate" name="startDate" class="form-control" type="text"  />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input ng-model="todos.endDate" name="endDate" class="form-control" type="text"  />
                    </div>

                    <div class="form-group">
                        <label>Type</label>&nbsp;&nbsp;&nbsp;&nbsp; 
                        <select name="type" ng-model="todos.type" required ng-options="el.name for el in types track by el.id" style="width: 200px; height: 30px;" >
                            <option  value="">--Please select--</option>
                        </select>
                        <span style="color:red" ng-show="frmtodo.type.$dirty && frmtodo.type.$invalid">
                            <span ng-show="frmtodo.type.$error.required">Type is required</span>
                       </span>
                    </div>

                    <div class="form-group">
                        
                        <label>Status&nbsp;</label>
                        <select name="status" ng-model="todos.status" required ng-options="el.name for el in status track by el.id" style="width: 200px; height: 30px;" >
                            <option  value="">--Please select--</option>
                        </select>
                        <span style="color:red" ng-show="frmtodo.status.$dirty && frmtodo.status.$invalid">
                            <span ng-show="frmtodo.status.$error.required">Status is required</span>
                       </span>
                    </div>

                    <br />
                    <div class="">
                        <button class="btn btn-primary " ng-class="" ng-disabled="frmtodo.$invalid" ng-click="saveProcesser()">Save</button>
                        <button class="btn btn-primary " ng-click="back()" style="margin-right: 15px;">Back</button>
                    </div>
            </div>

            </form>

    
    </div>
</div>
